*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $font--family-base;
  font-size: $font--size-base;
  line-height: $font--line-height-base;
  text-align: left;
  color: $color--text-primary;
  background-color: $color--white;
}

a {
  color: $link--color;
  text-decoration: none;
  &:hover {
    color: $link--hover-color;
    text-decoration: none;
  }
}

[v-cloak] {
  display: none;
}