.aui-control {
  position: absolute;
  top: $header--height;
  right: -$control--width;
  bottom: 0;
  z-index: $control--zindex;
  width: $control--width;
  background-color: $color--white;
  transition: right .3s;
  &__toggle {
    position: absolute;
    top: 80px;
    left: -40px;
    width: 40px;
    padding: 12px 8px;
    font-size: 20px;
    text-align: center;
    line-height: 1;
    border-radius: $border--radius-base 0 0 $border--radius-base;
    color: $color--white;
    background-color: $color--primary;
    cursor: pointer;
  }
  &__inner {
    position: relative;
    z-index: 1;
    width: $control--width + 20px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  &__bd {
    width: $control--width;
    padding: 5px 20px 20px;
  }
  .aui-tabs.el-tabs {
    margin: -5px -20px -20px;
  }
  .aui-tabs.el-tabs .el-tabs__content {
    padding: 0 15px 15px;
  }
  &__setting {
    margin: 0;
  }
  &__setting > dt {
    margin-top: 15px;
    font-size: $font--size-xl;
    font-weight: 900;
  }
  &__setting > dd {
    margin-top: 10px;
    margin-left: 1em;
  }
  &__setting + &__setting {
    margin-top: 15px;
    border-top: 1px solid $border--color-lighter;
  }
}

// 固定
.aui-control--fixed {
  .aui-control {
    position: fixed;
  }
}
.aui-control--fixed.aui-control--open {
  .aui-main {
    margin-right: 0;
  }
  .aui-footer {
    margin-right: 0;
  }
}
.aui-control--fixed.aui-control--open.aui-aside--top {
  .aui-aside {
    right: 0;
  }
}

// 打开
.aui-control--open {
  .aui-control {
    right: 0;
    box-shadow: -1px 0 0 0 rgba(0, 0, 0, .05);
  }
  .aui-main {
    margin-right: $control--width;
  }
  .aui-footer {
    margin-right: $control--width;
  }
}
.aui-control--open.aui-aside--top {
  .aui-aside {
    right: $control--width;
  }
}